@import "mixins.scss";

.chat-app-home {
  .chat-app-container {
    display: flex;
    height: 100vh;
    .friend-list-container {
      min-width: 30%;
      border-right: 1px solid #e5e5e5;
      height: 100vh;
      position: relative;
      overflow: hidden;
      .search-bar {
        background-color: #fbfbfb;
        padding: 8px; 
        @include flex-center();
        input {
          padding: 8px;
          width: 100%;
          border: 1px solid #e5e5e5;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .friend-name-wrapper {
        display: flex;
        background-color: white;
        border-bottom: 1px solid #e5e5e5;
        padding: 10px;  
        .profile-image {
          @include profile-img-circle(25px, 25px);
        }
        .friend-name {
          flex-grow: 1;
          overflow: hidden;
          position: relative;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    } 
    .chat-message-container {
      width: 70%;
      height: 100vh;
      position: relative;
      padding: 10px;

      .chat-message-wrp {
        max-height: 420px;
        min-height: 420px;
        overflow-y: auto;
        .chat-messages {
          .message-wrp {
            .message {
              min-width: 110px;
              background-color: white;
              width: 250px;
              padding: 6px 7px 8px 9px;
              margin-bottom: 5px;
              .username {
                display: flex;
                font-size: 12.5px;
                font-weight: 600;
                color: #512da8;
                line-height: 22px;
              }        
              .message-content {
                color: rgb(38, 38, 38);            
                font-size: 14px;
                position: relative;
                white-space: pre-wrap;
                word-wrap: break-word;
              }
            }
          }
          .message-wrp.from-me {
            display: flex;
            justify-content: flex-end;
            .message {
              margin-bottom: 5px;
              background-color: #ede7f6;
            }
          }
        }
      }
      .message-input-wrp {
        background-color: #efefef;
        padding: 5px 10px;
        margin-top: 20px;
        position: absolute;
        width: 90%;
        .message-input {
          background-color: #ffffff;
          border-color: #fff;
          border-radius: 21px;
          border-style: solid;
          border-width: 1px;
          padding: 9px 12px 11px 12px;
          margin: 5px 10px;
          width: 90%;
        }
      }
      .loader-wrapper {
        position: relative;
      }
    }
  }
}