.chat-app-home .chat-app-container {
  display: flex;
  height: 100vh; }
  .chat-app-home .chat-app-container .friend-list-container {
    width: 30%;
    border-right: 1px solid black;
    height: 100vh;
    position: relative;
    overflow: hidden; }
    .chat-app-home .chat-app-container .friend-list-container .search-bar input {
      padding: 8px;
      width: 100%; }
    .chat-app-home .chat-app-container .friend-list-container .friend-name-wrapper {
      display: flex;
      background-color: white;
      border-bottom: 1px solid #e5e5e5;
      padding: 10px; }
      .chat-app-home .chat-app-container .friend-list-container .friend-name-wrapper .profile-image {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center; }
      .chat-app-home .chat-app-container .friend-list-container .friend-name-wrapper .friend-name {
        flex-grow: 1;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .chat-app-home .chat-app-container .chat-message-container {
    width: 70%;
    height: 100vh;
    padding: 10px; }
